* {
  margin: 0;
  padding: 0;
}

@import "~font-awesome/css/font-awesome.css";
@import '~file-icons-js/css/style.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~xterm/dist/xterm.css';
@import 'terminal.css';
@import 'colors.css';
@import 'scrollbar.css';
*:focus {
  outline: none;
}

body,
html {
  background-color: #222 !important;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

.file-system-view {
  clear: both;
  overflow-x: hidden;
  overflow-y: auto;
}

.filesystem-item {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 2px;
}

a:hover,
.filesystem-item:hover .filesystem-item-name {
  text-decoration: underline !important;
  color: ghostwhite;
}

.filesystem-item:focus {
  background-color: #0d3866;
  color: ghostwhite;
  text-decoration: none;
}

.filesystem-item-name {
  display: inline-block;
}

.tabs {
  width: 100%;
  margin-top: 11px;
  height: 20px;
}

.tabs li {
  float: left;
  list-style-type: none;
  padding-right: 11px;
}

.tab {
  color: #0d3866;
  cursor: pointer;
  font-weight: bold;
}

.tab:hover {
  text-decoration: underline;
}

.tab-active {
  font-weight: bolder;
  color: #296bb2;
}

.location-bar {
  clear: both;
  height: 20px;
  background-color: #16262c;
  color: ghostwhite;
}

.footer-bar {
  clear: both;
  height: 20px;
  background-color: #16262c;
  color: ghostwhite;
}

.area {
  clear: both;
}

.center {
  padding: 10px;
}

#key-press-info {
  display: none;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-size: 22px;
  text-align: center;
  border-radius: 5px;
}

#key-press-info-description {
  font-style: italic;
  font-size: 11px;
}

.fa-terminal {
  color: #296bb2;
}

.folder {
  color: #FFE999;
}

.fa-folder {
  color: #FFE999;
}

.file-type-icon {}

.fa-file {
  display: inline;
}
